* {
  padding: 10px;
  border-radius: 0;
  font-family: mononoki Nerd Font;
  font-size: 26px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
}

#workspaces {
background-color: #1e1e2e;
/* border: 2.3px white solid; */
margin: 5px;
margin-left: 10px;
border-radius: 15px;
}
#workspaces button {
  padding-right: 20px;
  padding-left: 15px;
  color: #c0caf5;
}

#workspaces button.focused {
  color: #fff;
  background-color: #848ff2;
  border-radius: 15px;
}

#workspaces button:hover {
background-color: #7dcfff;
color: #5f5f72;
border-radius: 15px;
}

#custom-date, #clock, #battery, #pulseaudio, #disk {
background-color: #1e1e2e;
padding: 5px 10px;
margin: 5px 0px;
}

#custom-date {
color: #7dcfff;
}

#custom-power {
background-color: #89b3ff;
border-radius: 15px;
margin-right: 0px;
margin-top: 10px;
margin-bottom: 10px;
padding-left: 2.2rem;
padding-right: 2.2rem;
}
/* 
client.urgent               #2f343f #2f343f #d8dee8 #2f343f   #2f343f
client.placeholder          #2f343f #2f343f #d8dee8 #2f343f   #2f343f
*/
#clock {
  color: #9ece6a;
  border-radius: 0px 15px 15px 0px;
  margin-right: 10px;
  padding-right: 25px;
}

#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 15px 15px 15px 15px;
}

#disk {
color: #89b3ff;
border-radius: 15px 0px 0px 15px;
padding-left: 25px;
padding-right: 25px;
}

#pulseaudio {
color: #b28cee;
}
